
@import url('https://fonts.googleapis.com/css?family=Rancho');
@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css?family=Merienda+One');

#container{
    text-align:center;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 30px;
    margin-left:200px;
    margin-right:200px;
    padding:30px;
    margin-top:70px;
}
html {
    text-align:center;
    background: url(bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 
}



.head:hover{
    color:#bf4c6e;
    cursor:pointer;
    cursor: url(http://ani.cursors-4u.net/cursors/cur-11/cur1089.cur),progress !important;
}
body {
    cursor: url(http://ani.cursors-4u.net/cursors/cur-11/cur1089.cur),progress !important;
}

#header {
    font-family: 'Merienda One', cursive;
    font-size: 50px;
    margin:5px;
    padding:1px 0 0 0;
    text-align:center;
}

#footer {
    margin:0;
    padding:5px;
    text-align:center;
    font-family: 'Merienda One', cursive;
    font-size: 25px;
    text-shadow: 0 0 11px #ff0000, 0 0 11px #ff0000, 0 0 11px #ff0000;
    color: white;
    }

#center {
    text-align:center;
    margin:0;
    padding:6px 0;
    border-width:1px 0
    }

#user {
    text-align:center;
    margin:0;
    padding:6px 0;
    border-width:1px 0;
    font-family: 'Merienda One', cursive;
    font-size: 25px;
    text-shadow: 0 0 11px #ff0000, 0 0 11px #ff0000, 0 0 11px #ff0000;
    color: white;
    }

.search {
    font-family: 'Cookie', cursive;
    font-size: 25px;
    background:#ffffff;
    height:36px;
    line-height:36px;
    margin:5px 0 5px 10px;
    padding:0 10px;
    width:50%;
    color:#666666;
    border: 1px solid red;
    text-align:center;
}

.search:focus {
    background:#eee;
    outline:none;
    cursor: url(http://ani.cursors-4u.net/cursors/cur-11/cur1089.cur),progress !important;
}

.button {
    font-family: 'Rancho', cursive;
    font-size: 20px;
    background:#4c18db;
    color:#ffffff;
    height:36px;
    line-height:36px;
    margin:5px 10px 5px 0;
    padding:0 12px;
    border:none;
    outline:none;
    transition:all 0.25s;
    -moz-transition:all 0.25s;
    -webkit-transition:all 0.25s;
}

.button:hover{
    background:#bf4c6e;
    cursor:pointer;
    cursor: url(http://ani.cursors-4u.net/cursors/cur-11/cur1089.cur),progress !important;
}

#profile {
    text-align:center;
    margin:0;
    padding:6px 0;
    border-width:1px 0
    }

.css img{
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    margin: 0 10px 5px 0;
}

.css img:hover{
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
    box-shadow:0px 0px 30px gray;
    -webkit-box-shadow:0px 0px 30px gray;
    -moz-box-shadow:0px 0px 30px gray;
    opacity: 1;
    cursor: url(http://ani.cursors-4u.net/cursors/cur-11/cur1089.cur),progress !important;
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .login {
    margin-top: 1%;
    width: 550px;
    font-size: 1.7em;
    min-height: 0;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .login {
    margin-top: 0;
    width: 500px;
    font-size: 1.3em;
    min-height: 0;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .login {
    margin-top: 0;
    width: 400px;
    font-size: 1em;
    min-height: 0;
  }
    .login h2 {
    margin-top: 0;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
    .login {
    margin-top: 0;
    width: 200px;
    font-size: 0.7em;
    min-height: 0;
  }
}

.hr { 
   border:1px dashed #333;
   margin:1px;
   padding:0;
   text-align:center;
}